.RollControl {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0;
}

.RollControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid blue;
  cursor: pointer;
  outline: none;
}
.RollControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.RollControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.RollControl .Less {
  background-color: rgb(90, 100, 247);
  color: white;
}

.RollControl .More {
  background-color: rgb(61, 61, 114);
  color: white;
}

.RollControl .Less:hover,
.RollControl .Less:active {
  background-color: rgb(86, 86, 168);
  color: white;
}

.RollControl .More:hover,
.RollControl .More:active {
  background-color: #99703f;
  color: white;
}
