.CigarWrapper {
  height: 13%;
  width: 80%;
  background: linear-gradient(chocolate, saddleBrown);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px brown;
  margin: 2% auto;
}

.CigarBinder {
  height: 20%;
  width: 80%;
  background: linear-gradient(saddleBrown, chocolate);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 maroon;
  margin: 2% auto;
  position: relative;
}

.Filler {
  width: 80%;
  height: 8%;
  background: linear-gradient(sienna, sandyBrown);
}

.Aroma {
  width: 80%;
  height: 3%;
  background: linear-gradient(lightgrey, lightSlateGrey);
  margin: 2% auto;
}
