.Cigar {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .Cigar {
    height: 150px;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .Cigar {
    height: 250px
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 */


@media (min-width: 500px) and (max-height: 400px) {
  .Cigar {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Cigar {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Cigar {
    width: 700px;
    height: 600px;
  }
}



