.RollControls {
  width: 100%;
  background-color: lightslategrey;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px moccasin;
  margin: auto;
  padding: 10px 0;
}

.RollControls .OrderButton {
  background-color: darkslategrey;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(61, 61, 114);
  color: azure;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px rgb(53, 53, 99);
}

.RollControls .OrderButton:hover,
.OrderButton:active {
  background-color: #a0db41;
  border: 1px solid rgb(61, 61, 114);
  color: rgb(61, 61, 114);
}

.RollControls .OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.RollControls .OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
